/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:12px;
    vertical-align:baseline;
    background:transparent;
    font-style: normal;
    font-family: Verdana, Arial;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

td {
	padding:10px;
}
	
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Mighty Mouse code*/

header {
  background-color: lightgrey;
  border-bottom: 2px solid black;
  /*height: 10%;*/
}

header div table {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: auto;
}

header div table td {
  padding-right: 5px;
}

body div {
  min-height: 80%;
  max-height: 83%;
  overflow: auto;
}

footer {
  background-color: lightgrey;
  border-top: 2px solid black;
  height: auto;
  padding-bottom: 2px;
}

footer div table {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 6px;

  width: auto;
  height: auto;
}

footer fieldset {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em
  border: 2px groove (internal value);
}


	table.animals
		{border-collapse: collapse; border-spacing: 5px; border: 1px solid black; width:100%}
	th.animals
		{text-align: center; vertical-align: middle; background-color: #bbbbff; padding:10px; border: 1px solid black;}
	tr.animals:nth=child(even)  
		{background-color: #cccccc;}
	td.animals 	
		{text-align: center; vertical-align: middle; padding: 4px; 1px solid black;}
