/*
CSS sytle sheet for dropdown user button
*/
.dropdown {
	overflow: hidden;
	text-align: right;
	padding: 14px 16px;
	background-color: inherit;
	position: absolute;
	top: 0;
	right: 0;
}

.dropdown-content{
	display: none;
	position: relative;
	background-color: #ffffff;
	min-width: 60px;
	z-index: 1;
}

.dropdown-content a{
	display: block;
	color: black;
	padding: 12px 16px;
}

.dropdown:hover .dropdown-content{
	display: block;
}